Package: vdr-addon-ts2mkvd
Version: 0.0.1-1yavdr1~precise
Architecture: all
Maintainer: Gerald Dachs <gda@dachsweb.de>
Installed-Size: 86
Depends: upstart-job, vdr, libav-tools, inotify-tools
Section: misc
Priority: extra
Homepage: <insert the upstream URL, if relevant>
Description: converts vdr recordings with avconv
 converts vdr recordings with avconv
